{% extends "main-layout.html" %}
{% block content %}
  <div class="centered-block">
	<form action="login" method="post" class="form-inputs">
        {{ form.hidden_tag() }}
        {{ form.username.label }} {{ form.username(size=20) }}
        {{ form.password.label }} {{ form.password(size=20) }}
		<input type="submit" class="buttons" value="Login">
        <input type="button" class="buttons" onclick="location.href='{{ url_for('register') }}'" value="Not a user? Register!">
	</form>
  </div>
{% endblock %}